.carouselImage {
  height: 35rem;
  object-fit: cover;
  margin-top: 4.5rem;
}

.carouselnner {
  position: relative;
  overflow: hidden;
}

.carouselItem {
  opacity: 0;
  transition: opacity 5s ease-in-out;
}
