.shadowBorder {
  border: 2px solid #c1c1c2;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 1rem;
  transition: 1s;
  cursor: pointer;
}

.shadowBorder:hover {
  transform: scale(1.1, 1.05);
}